

body{
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.home,.sample-page, .services,.products,.contact-us,.sign-up,.marketing,.consulting{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Euclid Circular A', sans-serif;
    /* font-family: 'PT Sans', sans-serif; */
  }
  
  .home,
  .sample-page,
  .services,
  .products,
  .contact-us,
  .sign-up,
  .marketing,
  .consulting {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .home {
   
 
    color: black;
    font-size: 100px;
  }
  
  .services {
   
  
    color: black;
    font-size: 100px;
  }
  
  .products {
 

    color:black;
    font-size: 100px;
  }
  
  .contact-us {
   
    color: black;
    font-size: 100px;
  }
  
  .sign-up {
   
    color: black;
    font-size: 100px;
  }
  
  .marketing {
   
    color: black;
    font-size: 100px;
  }
  
  .consulting {
   
    color: black;
    font-size: 100px;
  }

  .border{
    border-bottom: solid 2rem #f5a800;
  }

  .sample-page{
    color: black;
    font-size: 100px;
  }
 
